{% extends 'base.html' %}

{% block content %}
  <p>
    <a href="{% url 'sponsor_add' %}" class="btn btn-primary">Add person</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for sponsor in records %}
        <tr>
          <td><a href="{% url 'sponsor_edit' sponsor.pk %}">{{ sponsor.name }}</a></td>
          <td>{{ sponsor.email }}</td>
          <td>{{ sponsor.department }}</td>
          <td>{{ sponsor.role }}</td>
        </tr>
        {% empty %}
        <tr class="table-active">
          <td colspan="2">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
