{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <!-- <form method="post"> -->
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
          {{ form.email|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
          {{ form.department|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.role|as_crispy_field }}
          </div>
      </div>
      {{ form.job_description|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save sponsor</button>
  </form>
{% endblock %}