{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
     <!-- {{ form }} -->
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock %}